name: publish

on:
  push:
    branches: [ main ]
    paths-ignore: 
      - README.md
      - CHANGELOG.md
      - CODE_OF_CONDUCT.md
      - LICENSE
      - SECURITY.md
      - '.github/**'
      - Makefile
      - contributing.md
      - .gitignore
      - working-group-charter.md
      
  pull_request:
    branches: [ main ]
    paths-ignore: 
      - README.md
      - CHANGELOG.md
      - CODE_OF_CONDUCT.md
      - LICENSE
      - SECURITY.md
      - '.github/**'
      - Makefile
      - contributing.md
      - .gitignore
      - working-group-charter.md

jobs:
  build-pushpull:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: '3.1'
      - uses: actions/setup-python@v4
        with:
          python-version: '3.10' 
      - name: Install kramdown-rfc
        run: gem install kramdown-rfc
      - name: Install xml2rfc
        run: pip install xml2rfc
      - name: Convert pushpull md to xml
        run: kramdown-rfc2629 draft-tulshibagwale-pushpull-delivery.md > draft-tulshibagwale-pushpull-delivery.xml
      - name: Render HTML
        run: xml2rfc draft-tulshibagwale-pushpull-delivery.xml --html -o index.html
      - name: Render Text
        run: xml2rfc draft-tulshibagwale-pushpull-delivery.xml --text
      - name: Upload artifact
        uses: actions/upload-artifact@v2
        with:
          name: output
          path: |
            index.html
            draft-ietf-tulshibagwale-pushpull-delivery.txt
  publish-to-pages:
    if: github.ref == 'refs/heads/main'
    needs: [build-pushpull]
    runs-on: ubuntu-latest
    permissions:
      pages: write
      id-token: write
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    steps:
      - name: Download artifact
        uses: actions/download-artifact@v4.1.7
        with:
          name: output
      - name: Upload pages artifact
        uses: actions/upload-pages-artifact@v1
        with:
          path: .
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v2
